Repository yamadayuki/parse5-utils: changes, and which Codecov flags are due for each by the changed paths.
All: parse5-is, parse5-visit

.codecov.yml:

coverage:
  status:
    project:
      default: off
      parse5-is:
        flags: parse5-is
      parse5-visit:
        flags: parse5-visit

flags:
  parse5-is:
    paths:
      - packages/parse5-is/
  parse5-visit:
    paths:
      - packages/parse5-visit/

Collect coverage in each packages
  .circleci/config.yml
  packages/parse5-is/package.json
  packages/parse5-visit/package.json
Due: parse5-is, parse5-visit

Add requirements for collect-coverage job
  .circleci/config.yml
Due: none

Build packages before collect coverage
  .circleci/config.yml
Due: none

Add visitDocumentFragment function
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

Add test
  packages/parse5-visit/src/__tests__/__snapshots__/visitFunctions.test.ts.snap
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Add visitDocumentType function
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

Add visitDocumentType function
  packages/parse5-visit/src/__tests__/__snapshots__/visitFunctions.test.ts.snap
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

Add visitCommentNode
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

Add test for visitCommentNode
  packages/parse5-visit/src/__tests__/__snapshots__/visitFunctions.test.ts.snap
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

Fix test
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Fix coverage command
  package.json
Due: none

Fix config for codecov
  .codecov.yml
Due: none

Fix
  .codecov.yml
Due: none

Add visitTextNode function
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

Rename
  codecov.yml
Due: none

Add flag to send report
  package.json
  packages/parse5-is/package.json
  packages/parse5-visit/package.json
Due: parse5-is, parse5-visit

Do not use token option
  .circleci/config.yml
Due: none

Fix
  packages/parse5-is/package.json
  packages/parse5-visit/package.json
Due: parse5-is, parse5-visit

Do not use hyphen
  codecov.yml
  packages/parse5-is/package.json
  packages/parse5-visit/package.json
Due: parse5-is, parse5-visit

Use multiple config
  codecov.yml
  packages/parse5-is/codecov.yml
  packages/parse5-visit/codecov.yml
Due: parse5-is, parse5-visit

Add src prefix
  packages/parse5-is/codecov.yml
  packages/parse5-visit/codecov.yml
Due: parse5-is, parse5-visit

Revert "Add src prefix"
  packages/parse5-is/codecov.yml
  packages/parse5-visit/codecov.yml
Due: parse5-is, parse5-visit

Specify yaml path
  packages/parse5-is/package.json
  packages/parse5-visit/package.json
Due: parse5-is, parse5-visit

Use node as argument type in parse5-is
  packages/parse5-is/src/index.ts
Due: parse5-is

Improve type annotation in parse5-visit
  packages/parse5-is/src/__tests__/index.test.ts
  packages/parse5-is/src/index.ts
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-is, parse5-visit

Fix to use TextNode
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-visit

If the node has parent node pass the parentNode to on{Enter,Leave}
  packages/parse5-is/src/index.ts
  packages/parse5-visit/src/visitFunctions.ts
Due: parse5-is, parse5-visit

Do not collect coverage from built files
  codecov.yml
  jest.config.js
Due: none

Add tests
  packages/parse5-visit/src/__tests__/__snapshots__/visitFunctions.test.ts.snap
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Add test for visitTextNode edge case
  packages/parse5-is/src/index.ts
  packages/parse5-visit/src/__tests__/__snapshots__/visitFunctions.test.ts.snap
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-is, parse5-visit

Add test for visitDocument to increase the coverage
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Add test for visitDocumentFragment to increase the coverage
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Add test for visitDocumentType to increase the coverage
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Add test for visitElement to increase the coverage
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Add test for visitCommentNode to increase the coverage
  packages/parse5-visit/src/__tests__/visitFunctions.test.ts
Due: parse5-visit

Refactor
  packages/parse5-is/src/index.ts
Due: parse5-is

Add tests for parse5-is to increase coverage
  packages/parse5-is/src/__tests__/index.test.ts
Due: parse5-is

Use visitFunctions
  packages/parse5-visit/src/__tests__/index.test.ts
  packages/parse5-visit/src/index.ts
  packages/parse5-visit/src/types.ts
Due: parse5-visit

Use snapshot
  packages/parse5-visit/src/__tests__/__snapshots__/index.test.ts.snap
  packages/parse5-visit/src/__tests__/index.test.ts
  packages/parse5-visit/src/index.ts
Due: parse5-visit
